@import 'tailwindcss';

@theme {
  --color-primary-50: #e4e7ec;
  --color-primary-100: #bbc3d0;
  --color-primary-200: #8e9bb0;
  --color-primary-300: #627491;
  --color-primary-400: #3f567b;
  --color-primary-500: #173672;
  --color-primary-600: #132f64;
  --color-primary-700: #102653;
  --color-primary-800: #0c1d42;
  --color-primary-900: #08142f;

  --color-accent-50: #fdf8e7;
  --color-accent-100: #f9edc3;
  --color-accent-200: #f5e19b;
  --color-accent-300: #f1d572;
  --color-accent-400: #eecc54;
  --color-accent-500: #ebc336;
  --color-accent-600: #e9bd30;
  --color-accent-700: #e5b529;
  --color-accent-800: #e2ae22;
  --color-accent-900: #dda116;

  --text-2xs: 0.625rem;
  --text-2xs--line-height: 0.875rem;
  --text-3xs: 0.5rem;
  --text-3xs--line-height: 0.625rem;
}

.navbar {
  display: none !important;
  visibility: hidden;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer base {
  a {
    @apply text-blue-800 hover:text-primary-800;
  }

  thead tr {
    @apply border-b border-t border-accent-700;
  }

  th {
    @apply h-10 border-r border-gray-300 p-3 text-left text-xs font-bold uppercase text-primary-300;
  }

  td {
    @apply border-r border-gray-300 align-top;
  }
}
